
h1{
    color:green;
    text-align: center;
    margin-bottom: 5%;
}

div{
     margin-left: 15%;    
}

h2{
    border:1px solid black;
    width: 46%;
    background-color: orange; 
    margin-bottom: 10px;
    margin-left: 10px;
}

h3{ 
    padding-left: 10px;
}

.bright-blue-box{
    background-color: rgba(0, 217, 255, 0.849);
    width: 22.6%;
    display: inline-block;
    margin-left: 10px;
}


